<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="ServiceDescription" value="ScriptRunner"/> <!-- Description as it would show up in Windows Service Manager-->
      <add key="DisplayName" value="MyScript"/> <!-- The display name as will show up in Windows Service manager-->
      <add key="Timer" value="30000"/>  <!-- Value in milliseconds-->
      <add key="ScriptPath" value="c:\temp\script.ps1"/>  <!-- Complete path to powershell script-->
    </appSettings>
</configuration>